.splashContainer {
    background: #00BFFF;
}

.imgs{
    width:100%;
    text-align:center;
    margin-top:20px;
}

.splashText{
    color:white;
}

.demoBtn{
    font-size:40px;
}
.header{
    width:100%
}