.video-screen{
    /* background: #00BFFF; */
    height: 100vh;
}

.video-call{
    position: relative;
    width: 100%;
}

.my-video{
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 10;
    border-radius: 100px;
}



.their-video{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.their-video{
   width: 100%;
}

.their-video img{
    width: 300px;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    position: absolute;
    right: calc(50% - 150px);
}

@keyframes pulse {
    0% {transform: scale(1)}
    50% {transform: scale(1.05)}
    1000% {transform: scale(1)}
}

.their-video > div{
    width: 100%;
}

.their-video *, .my-video *{
    border-radius: 100%;
}

.their-video .OTSubscriberContainer{
    margin: 0 auto;
}